@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;800&display=swap');

$primaryFont: 'Inter', sans-serif;

// COLOR SCHEMES

$mainBg: #C6D0BF;
$subMainBg: #E1E3E3;
$cardWhite: #FFFFFF;
$accentColor: #5C8331;
$bgAccent: #161e16;
$fontColor: #0a0f0c