@import '../../styles/variables';

.footer{
    display: flex;
    flex-direction: column;
    gap: $spacingSmall;

    .message{
        font-size: 2.5em;
        font-family: $styleFont;
        text-align: center;
    }

    .copyright{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacingSmall;
        font-family: $logoFont;
    }
}