@import '../../styles/variables';

.categoriesContainer {
    display: flex;
    flex-direction: column;

    .header {
        height: 400px;
        display: flex;
        flex-direction: column;
        background-image: url('../../assets/images/catwelcome.jpg');
        background-size: cover;
        gap: 5px;

        .headerIntro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 3.5em 2em;

            .introHeading,
            .introSubheading {
                backdrop-filter: blur(20px);
                text-align: center;
            }

            .introHeading {
                padding: 0.5rem;
                font-size: 2.6em;
                font-weight: 600;
                font-family: $styleFont;
            }

            .introSubheading {
                font-size: 0.8em;
                font-family: $logoFont;
            }
        }
    }

    .catMain {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .catGrid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(auto, 1fr);
        }
    }

    @media screen and (max-width: $desktopBreakpoint) {
        .header {
            height: 360px;

            .headerIntro {
                .introHeading {
                    font-size: 2.3rem;
                }
            }
        }
    }

    @media screen and (max-width: $tabletBreakpoint) {
        .header {
            height: 320px;

            .headerIntro {

                .introHeading, .introSubheading{
                    background-color: #ffffff4d;
                }
                .introHeading {
                    font-size: 1.8em;
                }

                .introSubheading {
                    font-size: 0.58em;
                }
            }
        }

        .catMain {
            padding: 1rem;

            .catGrid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(auto, 1fr);
            }
        }
    }

    @media screen and (max-width: $mobileBreakpoint) {
        .header {
            height: 320px;

            .headerIntro {
                .introHeading {
                    font-size: 1.5em;
                }

                .introSubheading {
                    font-size: 0.5em;
                    width: 85%;
                }
            }
        }
    }
}