@import '../../variables';

.navbarContainer,
.left,
.middle,
.right,
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
    z-index: +5;
}

.left,
.searchbar,
.categories,
.cart,
.profile {
    img {
        width: 20px;
        height: 20px;
        transition: 0.3s ease-in-out;

        &:hover {
            transform: scale(1.08);
        }
    }
}

.navbarContainer {
    padding: 20px 40px;

    .link {
        color: $fontColor;
    }

    .left {
        gap: 10px;
        flex-direction: row;

        .link{
            font-weight: 500;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 720px) {
    .navbarContainer {
        padding: 20px;

        .middle {
            display: none;
        }
    }
}